<!DOCTYPE HTML>
<html>
 <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Hair OLIVE</title>
  </head>
  <body>
    <header>
      <div class="heading">
        <div class="title">Philosopher</div>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
            <li><%= link_to 'ディスカッションを作成', new_room_path, class: "room-list" %></li>
            <% if user_signed_in? %>
              <li><%= link_to current_user.nickname , edit_user_path(current_user), class: "nick-name" %></li> 
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
            <% else %>
              <li><%= link_to 'ログイン', new_user_session_path , class: "login" %></li>
              <li><%= link_to '新規登録', new_user_registration_path , class: "sign-up" %></li>
            <% end %>
        </ul>
      </div>
    </header>

    <div class="contents">
      <div class="first-view">
        <%= image_tag "tetugaku.jpg", class:"top-image" %>
      </div>
    </div>
  
    <div class='title-contents'>
      <div class='service-title'>
        哲学について語りませんか？
      </div>
      <p class='service-explain'>
        議題は誰でも発信出来ます。
      </p>
      <p class='service-explain'>
        チャットアプリです。
      </p>
    </div>

    <div class='room-contents'>
      <h2 class='pick-title'>ピックアップルーム</h2>
      <% @rooms.each do |room| %>
        <div class="room">
          <div class="room-name">
            <a href="#"><%= room.name%></a>
          </div>
        </div>
      <% end %>
    </div>



    <footer>
      <p>Sei.Nakata.Original</p>
    </footer>
  </body>
</html>